{
  "spotify": {
    "credentials": {
      "id": "id",
      "secret": "secret"
    },
    "tokens": {
      "accessToken": "accessToken",
      "refreshToken": "refreshToken"
    }
  },
  "discord": {
    "token": "token",
    "tracking": "channel_id",
    "daily": "channel_id",
    "weekly": "channel_id",
    "monthly": "channel_id",
    "yearly": "channel_id"
  },
  "database": {
    "host": "localhost",
    "port": 3306,
    "user": "user",
    "password": "password",
    "database": "database"
  }
}