
###> symfony/framework-bundle ###
/.env.*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/var/coverage/
###< phpunit/phpunit ###

###> infection/infection ###
/var/infection/
###< infection/infection ###
